body
{ 
    background-image: url(./sawiro/green.jpg);
  
}
.menu {
    width: 80%;
    background-color: rgb(100, 9, 55);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 900px;
    font-family: verdana, serif;


      
  }
  hr{
    color: bisque;
    height: 2px;
    border-color: bisque;
  }

*{
    font-size: large;
}
ul{
    list-style-type: square;
    align: right;
    border: 2px;
}
       table, td {border: 2px solid rgb(46, 46, 192);
        border-collapse: collapse;
    padding: 30px;
    color: aliceblue;
}
    h1,p{
        color:aliceblue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
     margin-top: 5px;
    }
   .nav{
    font-weight: bold;
    color: aliceblue;
   }
   .Courses{border: 5px; border-color: bisque(241, 241, 248);
    border-collapse: collapse;
    color: aliceblue;
    padding-left: 15px;
    align-content: center;
   }
   .forms{
    color: rgb(191, 187, 212);
   }
   a {
    color: rgb(243, 238, 238);
  }
  
  a:visited {
    color: rgb(241, 234, 234);
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }  
    
    
   

   
  
