ody{
    background-color: violet;
    text-align: center;
  }
  form{
    width: 50%;
    margin: 0 auto;
  }
  input{
    width: 10rem;
  }
  fieldset{
    padding:2rem;
  }
  .info{
    margin-top: 0;
    font-family: verdana;
    font-size: 15;
  }